<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<title>{% block tiitle %}Base de datos ha sido creada{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
  {% endblock %}
</head>
<body>
  La base empresa ha sido añadida con exito a la base de datos.
</body>
</html>